.progress-bar {
  margin-top: auto;
  background-color: rgba(var(--blockColor), $alpha: 0.2);
  width: 100%;
  height: 50px;
  div {
    background-image: var(--progress);
    height: 100%;
    width: 20%;
    transition: 0.5s;
  }
}
